<form [formGroup]="employeeForm" (ngSubmit)="onButtonClicked()" >
  <input type="text" formControlName="email" placeholder="email">
  <input type="number" formControlName="age" placeholder="Age">
  <input type="number" formControlName="salary" placeholder="Salary">
  <input type="submit" [disabled]="employeeForm.invalid" value="Submit">
</form>

<ng-container *ngIf="employeeForm.valid">
  <p>Your new employee: {{employeeForm.value.name}}, age: {{employeeForm.value.age}} with salary {{employeeForm.value.salary}} $ will be aded to the system
  </p>
</ng-container>

Your new employee: {{employeeForm.value.name}}, age: {{employeeForm.value.age}} with salary {{employeeForm.value.salary}} $ will be aded to the system
